# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# editors
/.idea
/.project
/.classpath
/.c9
/.settings
*.launch
*.sublime-workspace

# IDE - VSCode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
/**/*.env
